
<div class="row">
  <div class="col-sm-12">
    <h1>My Bugs</h1>

    <!-- New Task Input -->
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="bug id" ng-model="homeCtrl.newBug.bugId">
        <input type="text" class="form-control" placeholder="bug id" ng-model="homeCtrl.newBug.description">



      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" ng-click="homeCtrl.addBug()">Add Task</button>
      </span>
      </div>
    </form>
  </div>
</div>

